<link rel="stylesheet" href="../../styles/how.css">
<!-- background-color: #3386da; -->
<div class="row" style="margin: 0px; padding: 0px;  background-image: linear-gradient( to right, #3386da, #60B0E5, #3386da );">
  <div class="container" style="">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding: 0px; margin: 0px;">
      <div class="row" style="padding-top: 35px;">
        <div class="col col-lg-2 col-md-2 col-sm-4 col-xs-4">
          <center>
            <a href="#parte2" class="scrollSuave link-branco hvr-float-shadow">LIFE STORIES</a>
          </center>
        </div>
        <div class="col col-lg-2 col-md-2 col-sm-4 col-xs-4">
          <center>
            <a href="#parte3" class="scrollSuave link-branco hvr-float-shadow">{{"howtodo.howtodo" | translate}}</a>
          </center>
        </div>
        <div class="col col-lg-2 col-md-2 col-sm-4 col-xs-4">
          <center>
            <a href="#parte4" class="scrollSuave link-branco hvr-float-shadow">{{"howtodo.contact" | translate}}</a>
          </center>
        </div>
        <div class="col col-lg-2 col-md-2 col-sm-12 col-xs-12">
          <br />
          <br />
        </div>
        <div class="col col-lg-2 col-md-2 col-sm-6 col-xs-6">
            <a href="#/main" style="text-decoration: none"><div class="btn-branco-main hvr-float-shadow">{{"howtodo.homePage" | translate}}</div></a>
        </div>
        <div class="col col-lg-2 col-md-2 col-sm-6 col-xs-6">
            <a href="#/register" style="text-decoration: none"><div class="btn-verde-main hvr-float-shadow">{{"howtodo.register" | translate}}</div></a>
        </div>
      </div>
    </div>
  </div>
  <hr style=" background-color: white; margin-top: 10px;">
  <div class="container">
    <br />
    <div class="text-center">
      <div>
        <b style="color: white; font-size: 50px;">{{"howtodo.maintitle" | translate}}</b>
      </div>
      <div style="color: white; font-size: 20px;">{{"howtodo.subtitle" | translate}}</div>
    </div>
    <br />
    <br />
    <br />
    <br />
    <center>
      <img src="../../images/idosos.png" class="img-responsive" id="idosos" style="display: block;" />
    </center>
  </div>
  <img src="../../images/nuvem.png" id="parte2" style="width: 100%; padding-top: 50px;" />
</div>

<div class="row" style="margin: 0px; padding: 0px; background-color: white; ">
  <div class="container">
    <center>
      <div class="row borda-circular">
        <br />
        <br />
        <br />
        <div class="text-center" style="color: #5FB0E8; font-size: 35px;">{{"howtodo.sectitle" | translate}}</div>
        <hr style="height: 10px; background-color: #DDF0F7; border-radius: 5px; width: 25%;">
        <br />
      </div>
    </center>
    <br />
    <br />
    <br />
    <br />
    <div class="col col-lg-6 col-md-6 col-sm-12 col-xs-12">
      <img src="../../images/parte2.png" class="img-responsive" id="lado-esquerdo-1" style="display: none;" />
    </div>
    <div class="col col-lg-6 col-md-6 col-sm-12 col-xs-12">
      <br />
      <div style="font-size: 25px; color: #5FB0E8;">{{"howtodo.abouttitle" | translate}}</div>
      <br />
      <div style="text-align: justify; font-size: 18px; color: gray;">
        {{"howtodo.about" | translate}}
        <br />
        <br />
      </div>
    </div>
  </div>
  <img src="../../images/nuvem2.png" id="parte3" style="width: 100%; padding-top: 50px;" />
</div>

<div class="row" id="padding-parte-3" style="margin: 0px; padding: 0px; background-color: #F0F7FD; padding-bottom: 800px; ">
  <div class="container">
    <div class="text-center" style="color: #0074D1; font-size: 55px;">{{"howtodo.howwork" | translate}}</div>
    <hr style="height: 10px; background-color: #D0E7F5; border-radius: 5px; width: 25%;">
    <br />
    <br />
    <br />
    <br />
    <center>
      <div class="col col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <div id="lado-esquerdo-2" style="display: none;">
          <img src="../../images/parte3-01.png" class="img-responsive">
          <br />
          <div style="color: #434345; font-size: 30px;">{{"howtodo.howwork.step1" | translate}}
            <br /> {{"howtodo.howwork.step11" | translate}}</div>
          <div style="color: #B6BBBF; font-size: 20px;">{{"howtodo.howwork.step2" | translate}}
            <br />{{"howtodo.howwork.step22" | translate}}</div>
          <br />
          <br />
          <br />
          <br />
        </div>
      </div>
      <div class="col col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <div id="lado-direito-2" style="display: none;">
          <img src="../../images/parte3-02.png" class="img-responsive">
          <br />
          <div style="color: #434345; font-size: 30px;">{{"howtodo.howwork.step3" | translate}}
            <br /> {{"howtodo.howwork.step33" | translate}}</div>
          <div style="color: #B6BBBF; font-size: 20px;">{{"howtodo.howwork.step4" | translate}}
            <br /> {{"howtodo.howwork.step44" | translate}}</div>
          <br />
          <br />
          <br />
          <br />
        </div>
      </div>
      <div class="col col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <div id="lado-esquerdo-3" style="display: none;">
          <img src="../../images/parte3-03.png" class="img-responsive">
          <br />
          <div style="color: #434345; font-size: 30px;">{{"howtodo.howwork.step5" | translate}}
            <br /> {{"howtodo.howwork.step55" | translate}}</div>
          <div style="color: #B6BBBF; font-size: 20px;">{{"howtodo.howwork.step6" | translate}}
            <br /> {{"howtodo.howwork.step66" | translate}}</div>
          <br />
          <br />
          <br />
          <br />
        </div>
      </div>
      <div class="col col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <div id="lado-direito-3" style="display: none;">
          <img src="../../images/parte3-04.png" class="img-responsive">
          <br />
          <div style="color: #434345; font-size: 30px;">{{"howtodo.howwork.step7" | translate}}
            <br /> {{"howtodo.howwork.step77" | translate}}</div>
          <div style="color: #B6BBBF; font-size: 20px;">{{"howtodo.howwork.step8" | translate}}
            <br /> {{"howtodo.howwork.step88" | translate}}</div>
          <br />
          <br />
          <br />
          <br />
        </div>
      </div>
    </center>
  </div>
</div>

<div class="row" id="" style="margin: 0px; padding: 0px; background-color: white;">
  <div class="" style="">
    <div class="col col-lg-6 col-md-6 col-sm-12 col-xs-12" style="padding-top: 3%; ">
      <div class="text-center" style="color: #5FB0E8; font-size: 35px;">{{"howtodo.reminder.title" | translate}}</div>
      <hr style="height: 10px; background-color: #DDF0F7; border-radius: 5px; width: 25%;">
      <br />
      <br />
      <div style="text-align: justify; font-size: 18px; color: gray; padding-left: 15%; padding-right: 15%;">
        {{"howtodo.reminder.text" | translate}}
        <br />
        <br />
      </div>
      <br />
    </div>
    <div class="col col-lg-4 col-md-6 col-sm-12 col-xs-12" style="margin: 0px; padding: 0px;">
      <!-- <iframe style="height: 500px; width: 100%;" src="https://www.youtube.com/embed/HLEn5MyXUfE" frameborder="0" allowfullscreen></iframe> -->
      <img src="../../images/01.jpg" class="img-responsive" id="lado-baixo" style="display: none;">
    </div>
    <!--           <div class="col col-lg-2 col-md-6 col-sm-12 col-xs-12" style="margin: 0px; padding: 0px;">
          	<div class="row borda-circular2">
          		<br /><br />
          	</div>
          </div> -->
  </div>
</div>

<div class="row" id="parte4" style="margin: 0px; padding: 0px; background-color: #F0F7FD; padding-top: 3%; padding-bottom: 3%;">
  <div class="container" id="target">
    <div class="text-center" style="color: #0074D1; font-size: 55px;">{{"howtodo.contact.title" | translate}}</div>
    <hr style="height: 10px; background-color: #D0E7F5; border-radius: 5px; width: 15%;">
    <br />
    <br />
    <div class="col col-lg-6 col-md-6 col-sm-12 col-xs-12">
      <div id="lado-esquerdo-4" style="display: none;">
        <center>
          <img src="../../images/parte5.png" class="img-responsive">
        </center>
      </div>
    </div>
    <div class="col col-lg-6 col-md-6 col-sm-12 col-xs-12" id="formulario">
      <form action="" method="POST">
        <br />
        <input type="text" class="form-control" id="" placeholder="{{'howtodo.contact.name' | translate}}" required>
        <br />
        <input type="text" class="form-control" id="" placeholder="{{'howtodo.contact.telephone' | translate}}" required>
        <br />
        <input type="email" class="form-control" id="" placeholder="{{'howtodo.contact.email' | translate}}" required>
        <br />
        <textarea style=" border-radius: 4px; resize: none;" rows="4" class="form-control"></textarea>
        <br />
        <button type="button" class="btn-azul2 hvr-float-shadow">{{'howtodo.contact.send' | translate}}</button>
      </form>
    </div>
  </div>
</div>


<div class="row" id="" style="margin: 0px; padding: 0px; background-color: #1B91CF; padding-bottom: 10px; padding-top: 10px;">
  <div class="container">
    <div class="col col-lg-6 col-md-6 col-sm-6 col-xs-12">
      <div style="color:white;" class="text-center">{{"howtodo.copyright" | translate}}</div>
    </div>   
  </div>
</div>

<script>
  var $doc = $('html, body');
  $('.scrollSuave').click(function () {
    $doc.animate({
      scrollTop: $($.attr(this, 'href')).offset().top
    }, 500);
    return false;
  });

  var largura = $(window).width();
  var altura = $(window).height();

  if (largura <= 600) {
    altura = altura / 2;
  }

  // 10, 30, 15, 20
  console.log(altura);
  console.log((altura * 10) / 100);

  if (largura < 992) {
    $("#modal").css("width", "100%");
  } else {
    $("#modal").css("width", "80%");
  }

  $("#logo").css("padding-top", (altura * 10) / 100);
  $("#texto-01").css("padding-top", (altura * 15) / 100);
  $("#texto-02").css("padding-top", (altura * 10) / 100);
  $("#btn-registrar").css("padding-top", (altura * 12) / 100);

  $(".imagem").css("height", altura);

  window.onload = function () {

  };

  var loadIdosos = function(){
    $('#idosos').hide();
    $('#idosos').each(function (i) {
      if (this.complete) {
        $(this).fadeIn(2000);
      } else {
        $(this).load(function () {
          $(this).fadeIn(3000);
        });
      }
    });
  }

  jQuery(document).ready(function ($) {
    $('#idosos').hide();
    $('#idosos').each(function (i) {
      if (this.complete) {
        $(this).fadeIn(2000);
      } else {
        $(this).load(function () {
          $(this).fadeIn(3000);
        });
      }
    });
  }); 
  
  jQuery(document).ready(function ($) {
    $carregar_img_1 = 0;
    $carregar_img_2 = 0;
    $carregar_img_3 = 0;
    $carregar_img_4 = 0;
    $carregar_img_5 = 0;
    $tremer_form = 0;
    $(window).on('scroll', function () {
      var y_scroll_pos = window.pageYOffset;
      var y_img_1 = 500;
      var y_img_2 = 1000;
      var y_img_3 = 1500;
      var y_img_4 = 2000;
      var y_img_5 = 2500;
      var y_form = 3000;
      
      if (y_scroll_pos > y_img_1 && $carregar_img_1 == 0) {
        document.getElementById("lado-esquerdo-1").setAttribute("Style", "display: block;");
        var ladoEsquerdo = document.getElementById("lado-esquerdo-1");
        ladoEsquerdo.id = "carregar-lado-esquerdo";
        
        // document.getElementById("lado-direito-1").setAttribute("Style", "display: block;");
        // var ladoEsquerdo = document.getElementById("lado-direito-1");
        // ladoEsquerdo.id = "carregar-lado-esquerdo";
        
        $carregar_img_1 = 1;
      }
      
      if (y_scroll_pos > y_img_2 && $carregar_img_2 == 0) {
        document.getElementById("lado-esquerdo-2").setAttribute("Style", "display: block;");
        var ladoEsquerdo = document.getElementById("lado-esquerdo-2");
        ladoEsquerdo.id = "carregar-lado-esquerdo";
        
        document.getElementById("lado-direito-2").setAttribute("Style", "display: block;");
        var ladoEsquerdo = document.getElementById("lado-direito-2");
        ladoEsquerdo.id = "carregar-lado-direito";
        
        $carregar_img_2 = 1;
      }
      
      if (y_scroll_pos > y_img_3 && $carregar_img_3 == 0) {
        $("#padding-parte-3").css("padding-bottom", "0px");
        document.getElementById("lado-esquerdo-3").setAttribute("Style", "display: block;");
        
        var ladoEsquerdo = document.getElementById("lado-esquerdo-3");
        ladoEsquerdo.id = "carregar-lado-baixo";
        
        document.getElementById("lado-direito-3").setAttribute("Style", "display: block;");
        var ladoEsquerdo = document.getElementById("lado-direito-3");
        ladoEsquerdo.id = "carregar-lado-baixo";
        
        $carregar_img_3 = 1;
      }
      
      if (y_scroll_pos > y_img_4 && $carregar_img_4 == 0) {
        document.getElementById("lado-baixo").setAttribute("Style", "display: block;opacity: 0.8;");
        var ladoEsquerdo = document.getElementById("lado-baixo");
        ladoEsquerdo.id = "carregar-lado-baixo";
        $carregar_img_4 = 1;
      }
      
      if (y_scroll_pos > y_form && $tremer_form == 0) {
        console.log("tremer");
        $("#formulario").addClass("tremer");
        $carregar_img_4 = 1;
      }
      
      if (y_scroll_pos > y_img_5 && $carregar_img_5 == 0) {
        document.getElementById("lado-esquerdo-4").setAttribute("Style", "display: block;");
        var ladoEsquerdo = document.getElementById("lado-esquerdo-4");
        ladoEsquerdo.id = "carregar-lado-esquerdo";
        $carregar_img_5 = 1;
      }
    });
  });
  
  </script>