<div id="loading-modal" class="loading-modal">
    <img class="loading-image" src="images/loading-spin.svg">
</div>
<div ng-include="'views/templates/main/register-header.html'"></div>
<div class="container-register" ng-init="verifyRecoveryCode(recoveryCode)">
    <div class="jumbotron">
        <div class="row">
            <form name="recoveryForm" class="form col-lg-12 col-md-12 col-sm-12">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <h4>{{'password.title' | translate}}</h4>
                </div>
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <div id="input-password" class="form-group has-feedback">
                            <div class="col-lg-12 input-separate">
                                <label for="recovery-password" class="label-blue">{{'password.new' | translate}}</label>
                                <input id="recovery-password" type="password" name="password" class="form-control input-large" placeholder="{{'password.new.placeholder' | translate}}" ng-model="recovery.password"
                                    ng-required="true">
                                <span ng-show="recoveryForm.password.$dirty" class="glyphicon form-control-feedback" ng-class="{'glyphicon-ok-circle': recoveryForm.password.$valid && recovery.password === recovery.passwordConf, 'glyphicon-remove-circle': recoveryForm.password.$error}"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <div id="input-password" class="form-group has-feedback">
                            <div class="col-lg-12 input-separate">
                                <label for="recovery-password-2" class="label-blue">{{'register.confirm' | translate}}</label>
                                <input id="recovery-password-2" type="password" name="password2" class="form-control input-large" placeholder="{{'password.new.placeholder' | translate}}"
                                    ng-model="recovery.passwordConf" ng-required="true">
                                <span ng-show="recoveryForm.password2.$dirty" class="glyphicon form-control-feedback" ng-class="{'glyphicon-ok-circle': recoveryForm.password2.$valid && recovery.password === recovery.passwordConf, 'glyphicon-remove-circle': recoveryForm.password2.$error}"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 pull-right">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" style="margin-top: 15px;">
                            <div ng-click="updateUserRecovered(recovery)" class="btn-full btn-azul-principal hvr-float-shadow">{{'form.save' | translate}}</div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" style="margin-top: 15px;">
                            <a href="#/main" class="btn-link">
                                <div class="btn-full hvr-float-shadow btn-roxo-principal">{{'form.cancel' | translate}}</div>
                            </a>
                        </div>
                    </div>
                </div>
            </form>
            <div id="feedback-register-success" class="col-lg-6 col-md-6 col-sm-12 col-xs-12" style="display:none;margin-top: 10px;">
                <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                    <img src="../../images/idoso.png" height="130">
                </div>
                <div class="col-lg-8 col-md-6 col-sm-12 col-xs-12">
                    <h4 class="feedback-register success">{{'form.success' | translate}}</h4>
                    <p class="feedback-register-p">{{'form.success.password' | translate}}</p>
                </div>
            </div>
            <div id="feedback-register-error" class="col-lg-6 col-md-6 col-sm-12 col-xs-12" style="display:none; margin-top: 10px;">
                <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                    <img src="../../images/idoso-triste.png" height="130">
                </div>
                <div class="col-lg-8 col-md-6 col-sm-12 col-xs-12">
                    <h4 class="feedback-register error">{{'form.error' | translate}}</h4>
                    <p class="feedback-register-p">{{'form.error.password' | translate}}</p>
                </div>
            </div>
        </div>
    </div>
</div>