<div id="loading-modal" class="loading-modal">
    <img class="loading-image" src="images/loading-spin.svg">
</div>
<div ng-include="'views/templates/main/register-header.html'"></div>
<div class="container-register">
    <div class="jumbotron">
        <div class="row">
            <form name="recoveryForm" class="form col-lg-12 col-md-12 col-sm-12">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <h4>{{'recovery.title' | translate}}</h4>
                </div>
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <div id="input-email" class="form-group has-feedback">
                            <div class="col-lg-12 input-separate">
                                <label for="recovery-email" class="label-blue">{{'recovery.email' | translate}}</label>
                                <input id="recovery-email" type="email" name="email" class="form-control input-large" placeholder="{{'recovery.email.placeholder' | translate}}"
                                    ng-model="recovery.email" ng-required="true">
                                <span ng-show="recoveryForm.email.$dirty" class="glyphicon form-control-feedback" ng-class="{'glyphicon-ok-circle': recoveryForm.email.$valid, 'glyphicon-remove-circle': recoveryForm.email.$error}"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 pull-right">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" style="margin-top: 15px;">
                            <div ng-click="recoveryPassword(recovery.email, recoveryType)" class="btn-full btn-azul-principal hvr-float-shadow">{{'recovery.save' | translate}}</div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" style="margin-top: 15px;">
                            <a href="#/main" class="btn-link">
                                <div class="btn-full hvr-float-shadow btn-roxo-principal">{{'recovery.back' | translate}}</div>
                            </a>                            
                        </div>
                    </div>
                </div>
            </form>
            <div id="feedback-register-success" class="col-lg-6 col-md-6 col-sm-12 col-xs-12" style="display:none;margin-top: 10px;">
                <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                    <img src="../../images/idoso.png" height="130">
                </div>
                <div class="col-lg-8 col-md-6 col-sm-12 col-xs-12">
                    <h4 class="feedback-register success">Operação realizada com sucesso!</h4>
                    <p class="feedback-register-p">Um e-mail foi enviado para você com as informações necessárias para recuperação da sua senha!</p>
                </div>
            </div>
            <div id="feedback-register-error" class="col-lg-6 col-md-6 col-sm-12 col-xs-12" style="display:none; margin-top: 10px;">
                <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                    <img src="../../images/idoso-triste.png" height="130">
                </div>
                <div class="col-lg-8 col-md-6 col-sm-12 col-xs-12">
                    <h4 class="feedback-register error">Ocorreu um erro ao realizar esta operação!</h4>
                    <p class="feedback-register-p">Por favor, verifique os dados inseridos e tente novamente.</p>
                </div>
            </div>
        </div>
    </div>
</div>