<div class="row" id="content-header">
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <img class="logo-collapse" src="../../images/logo.png" alt="Logo Life Stories" style="width: 40%;margin-left: 15px;">
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <div class="pull-right group-header">
            <span id="bem-vindo">{{'welcome' | translate}}</span> <span id="nome-usuario">{{userLogged.nome | limitTo:20}}</span>
            <img ng-src="{{userLogged.imagem || 'https://i.imgur.com/9RAAfJ5.png'}}" class="img img-circle img-profile-header" alt="Imagem de perfil" width="40" height="40">
            <a href="" ng-click="changeLanguage('pt')"><img class="hvr-float-shadow" src="../../images/brasil.png" alt="Brasil" width="40" height="40"></a>
            <a href="" ng-click="changeLanguage('en')"><img class="hvr-float-shadow" src="../../images/eua.png" alt="EUA" width="40" height="40"></a>
            <a href="" ng-click="logout()" style="margin-left: 10px;"><img class="hvr-float-shadow" src="../../images/logout.png" alt="Logout" width="40" height="40"></a>
        </div>
    </div>
</div>