<div ng-include="'views/templates/institute-side-nav.html'"></div>
<section id="header" class="header-fixed">
    <div ng-include="'views/templates/institute-header.html'"></div>
</section>
<div id="content-without-side-nav">
    <div class="container">
        <section id="content">
            <div class="jumbotron">
                <div class="content-padding">
                    <div class="row" style="text-align: center;">
                        </br>
                        </br>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="text-align: center;">
                            <img class="img img-responsive" src="../../images/idosos.png">
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>