<div id="imgUpload" data-backdrop="static" class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content" style="border-radius: 8px;">
            <div class="modal-header fundo-cabecalho-modal-azul" style="border-radius: 8px;height: 50px;">
                <h5 class="modal-title" style="font-weight: bold;font-size: 13pt;">{{'image.upload' | translate}}</h5>
            </div>
            <div class="modal-body">
                <div style="text-align: center;">
                    <center>
                        <img id="img-upload-modal" class="img img-circle img-responsive" src="" style="width: 200px;height: 200px;">
                    </center>
                </div>
            </div>
            <div class="modal-footer">
                <button data-dismiss="modal" class="btn-branco-2 hvr-float-shadow">{{'upload.ok' | translate}}</button>
            </div>
        </div>
    </div>
</div>