<div class="container-register" style="background-color: #fafafa;">
    <div class="container">
        <div class="row" id="content-header">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <a href="#/main"><img src="../../images/logo.png" alt="Logo Life Stories" style="width: 50%"></a>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">                
                <div class="pull-right">
                    <a href="" ng-click="changeLanguage('pt')"><img class="hvr-float-shadow" src="../../images/brasil.png" alt="Brasil" width="30" height="30"></a>
                    <a href="" ng-click="changeLanguage('en')"><img class="hvr-float-shadow" src="../../images/eua.png" alt="EUA" width="30" height="30"></a>
                </div>
            </div>
        </div>
    </div>
</div>